@use '@/styles/utils' as *;

.movies {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  justify-content: center;
  flex-grow: 1;

  @media ($largePhone) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
  }
}

.total {
  margin-bottom: 3rem;
  text-align: center;
  font-style: italic;
}
