@use './vars' as *;

@mixin container() {
  padding: 0 3rem;
  @media ($tablet) {
    padding: 0 4rem;
  }
}

@mixin section() {
  margin-top: 2rem;
  @media ($largePhone) {
    margin-top: 3rem;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}
