@use './vars' as *;

@mixin container() {
  padding: 0 3rem;
  @media ($tablet) {
    padding: 0 4rem;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}

@mixin truncate() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
