@use '@/styles/utils' as *;

.searchBar {
  margin: 0 auto;
  @include flex-center;
  width: 100%;
  max-width: 40rem;
  font-size: 1.8rem;
}

.field {
  width: 100%;
  flex-grow: 1;
  padding: 1.4rem 1.8rem;
  border-radius: 2rem 0 0 2rem;
  border: 1px solid black;
  &:focus-visible {
    outline: 1px solid black;
  }
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 1.4rem 1.8rem;
  border-radius: 0 2rem 2rem 0;
}
