@use '@/styles/utils' as *;

.header {
  box-shadow: 0 0 6px var(--primary-color);
  width: 100%;
}

.container {
  height: 8rem;
  display: flex;
  align-items: center;
  @include container;
}
.link {
  font-size: 3rem;
  text-decoration: none;
  color: var(--primary-text-color);
}
