@use '@/styles/utils' as *;

.movie {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.481);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  flex-grow: 1;
  position: relative;
  width: 100%;
  aspect-ratio: 300 / 445;
}

.noImgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: dimgray;
  font-size: 1.8rem;
  text-align: center;
}

.imgLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.footer {
  height: 15.5rem;
  padding: 2rem 3rem;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  @include truncate;
}

.info {
  margin-bottom: 0;
  font-size: 1.6rem;
  padding: 0;
  li {
    @include truncate;
    &::before {
      content: '\2022 ';
      margin-right: 0.5rem;
    }
  }
}

.link {
  color: black;
}
