html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

.active {
  box-shadow: 0 0 8px var(--primary-color);
}
