// colors

:root {
  --primary-color: black;
  --secondary-color: white;
  --primary-text-color: black;
  --secondary-text-color: dimgray;
  --button-text-color: white;
  --transition-duration: 200ms;
}
